body {
    background-color: #B0E38E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 50px;
    max-width: 1200px;
}

.header {
    background-image: url(../images/greenbackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.nav ul {
    color: black;
    background-color: #b5b298;
    display: block;
    position: relative;
    text-transform: capitalize;
    font-weight: normal;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 30px;
    list-style: none;
    background-image: linear-gradient(#000, green, #000);
}

.nav li a {
    color: white;
    text-decoration: none;
    display: block;
    float: left;
    padding: 10px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}