body {
    background-color: #B0E38E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 50px;
    max-width: 1200px;
}

.header {
    background-image: url(../images/greenbackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.nav ul {
    color: black;
    background-color: #b5b298;
    display: block;
    position: relative;
    text-transform: capitalize;
    font-weight: normal;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 30px;
    list-style: none;
    background-image: linear-gradient(#000, green);
}

.nav li a {
    color: white;
    text-decoration: none;
    display: block;
    float: left;
    padding: 10px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.maincontent {
    background-color: #e2ffd0;
    padding: 30px 50px;
    display: grid
    
}

.maincontent img {
    padding-right: 50px;
    padding-left: 50px;
    
}

.maincontent p2 {
    padding-bottom: 30px;
}

.maincontent p {
    margin: 0 0 50px 0;
    
}

.maincontent h3 {
    padding: 20px;
    position: relative;
    text-align: center;
    background-color: #B0E38E;
    border: dashed #367a23 2px;
    margin-bottom: 50px;
}

.footer {
    color: white;
    text-align: left;
    background-image: linear-gradient(green, black);
    padding: 10px 10px;
}