/*  Old starting theme (lighter theme)
    #367A23 - darkest green
    #4DAE32 - darker green
    #B0E38E - lighter green
    #E2FFD0 - very light green
    #000000 - black
    #B5B298 - lighter teupe
    #998460 - darker teupe

    Website update colors (darker theme)
    #0f4d0a - darker green
    #137a0c - dark green
    #7ed957 - grass green
*/

body {
    background-color: #B0E38E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    position: relative;
    margin: 0 50px;  
}

.header {
    background-image: url(../images/greenbackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 50px;
    text-align: center;
}

h1, p1 {
    color: black;
}

.nav ul {
    color: black;
    display: block;
    position: relative;
    text-transform: capitalize;
    font-weight: normal;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 30px 0 30px;
    list-style: none;
    background-image: linear-gradient(#000, green);
    
}

.nav li a {
    color: white;
    text-decoration: none;
    display: inline;
    float: left;
    padding: 10px 30px;

    
}

.nav a:hover {
    color: aquamarine;
    text-decoration: underline;
    transition: 0.5s;
}

.maincontent {
    background-color: #e2ffd0;
    margin: 0;
    padding: 40px 10px 40px 10px;
    width: auto;
    height: max-content;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center; 
}

h2 {
    color: #367a23;
    letter-spacing: 10px;
    font-size: xx-large;    
}

p2 {
    color: #367a23;
    font-weight: 100;
}

p5 {
    text-align: center;
    color: green;
    font-weight: 100;
    display: grid;
}

.maincontent img {
    max-width: 70%;
    height: auto;
    align-content: center;
    margin: auto;
    display: block;
    padding: 30px 0 10px 0;   
}

.footer {
    color: white;
    text-align: left;
    background-image: linear-gradient(green, black);
    padding: 10px 10px;
}