.output {
    font-weight: normal;
}

body {
    height: 100vh;
    display: flex;
    background-image: linear-gradient(black, grey);
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
      url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 525px;
    margin: 0 auto;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: rgb(57, 166, 57);
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-btn {
    margin-top: 10px;
    padding: 5px, 10px;
    background: rgb(188, 16, 19);
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.open-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background: rgb(98, 164, 190);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: rgb(119, 50, 50);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup2 {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: rgb(57, 166, 57);
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    color: white;
}

.overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup2 img {
    max-width: 40%;
    height: auto;
}

.open-btn2 {
    background: goldenrod;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.close-btn2 {
    margin-top: 10px;
    padding: 5px, 10px;
    background: rgb(188, 16, 19);
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container-inner {
    width: 302px;
    margin: 0 auto;
    text-align: center;
}

p {
    color: #fff;
}

#action_btn {
    color: white;
    background-color: #4C9141;
    padding: 5px 10px;
    border-radius: 5px;
}

input {
    background-color: #D0F0C0;
    padding: 5px 10px;
    border: 1px solid #4C9141;
    border-radius: 5px;
}


img {
    margin: 40px auto;
    display: block;
    width: 300px;
    height: 267px;
    object-fit: contain;
}